
  body{

  }
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -.125em;
        fill: currentColor;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  .bg-green{
    background-color: rgb(219, 228, 219);
}
.bg-green-home{
    background-color: rgb(42, 62, 42);
}

/* Style des boutons */
.scroll-buttons {
    position: fixed; /* Fixe les boutons à l'écran */
    bottom: 20px; /* Position en bas */
    right: 20px; /* Position à droite */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les boutons */
}

.scroll-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%; /* Boutons ronds */
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: #0056b3;
}

/* Style spécifique pour le bouton "Aller en haut" */
#scrollToTopBtn {
    background-color: #28a745; /* Couleur verte */
}

#scrollToTopBtn:hover {
    background-color: #218838;
}

/* Espace pour simuler une longue page */
.content {
    height: 2000px; /* Hauteur de la page pour permettre le défilement */
    padding: 20px;
    background-color: #f0f0f0;
}